*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* Nav link Section */
.logo{
    font-size: 50px !important;
    padding-left: 50px;
}
.navbar-toggler{
    margin-right: 50px !important;
}
 li a.NLink{
    color: rgb(0, 0, 0);
    font-weight: 600 ;
    font-size: 18px;
    padding-bottom: 0px;
    
}
.NLink::after{
    content: "";
    width: 0%;
    height: 3px;
    /* background: #f4433f; */
    background: rgb(68, 0, 255);
    display: block;
    margin: auto;
    transition: .5s;
}
.NLink:hover::after{
    width: 100%;
}
@media (max-width:750px) {
    .NLink:hover::after{
        width: 20%;
    }
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none;
  }